<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://jsf.jd.com/schema/jsf
		http://jsf.jd.com/schema/jsf/jsf.xsd"
       default-lazy-init="false" default-autowire="byName">
    <jsf:registry id="jsfRegistry" protocol="jsfRegistry" index="i.jsf.jd.com" />
    <jsf:server id="jsf" protocol="jsf" />

    <jsf:consumer id="message.grant.jsf" interface="com.jd.dd.open.gw.api.GrantService" alias="ee03">
        <jsf:parameter key="token" value="timline.jdos.com" hide="true" />
    </jsf:consumer>
</beans>