<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.lsmock.mapper.ConsulMapper">

    <select id="findAll" resultType="com.example.lsmock.dao.Consul">
        select * from consul
    </select>

    <select id="addConsul" parameterType="com.example.lsmock.dao.Consul">
        INSERT INTO consul (uid, name, method, value, interval, timeout) VALUES (#{uid}, #{name}, #{method}, #{value}, #{interval}, #{timeout})
    </select>

    <select id="updateConsul" parameterType="com.example.lsmock.dao.Consul">
        UPDATE consul SET uid=#{uid},name=#{name},method=#{method},value=#{value},interval=#{interval},timeout=#{timeout} WHERE id=#{id}
    </select>

    <select id="deleteConsul" parameterType="java.lang.Integer">
        DELETE FROM consul WHERE id=#{id}
    </select>

</mapper>