<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.lsmock.mapper.DogMapper">

    <select id="addDogToken" parameterType="com.example.lsmock.dao.DogToken">
        INSERT INTO dog_token (accessToken, aspid, is_delete) VALUES (#{accessToken}, #{aspid}, #{is_delete})
    </select>

    <select id="updateDogToken">
        UPDATE dog_token SET is_delete='1' WHERE is_delete='0'
    </select>

    <select id="deleteDogToken">
        DELETE FROM dog_token WHERE is_delete='1'
    </select>

    <select id="findDogToken" resultType="com.example.lsmock.dao.DogToken">
        SELECT * FROM dog_token WHERE is_delete='0'
    </select>

    <select id="findDogCfg" resultType="com.example.lsmock.dao.DogCfg">
        SELECT * FROM dog_msgcfg LIMIT 1
    </select>

</mapper>