<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.lsmock.mapper.LsmockMapper">

    <select id="findAll" resultType="com.example.lsmock.dao.Lsmock">
        select * from zmock
    </select>

    <select id="addLsmock" parameterType="com.example.lsmock.dao.Lsmock">
        INSERT INTO zmock (method,time,url,keyword,respond) VALUES (#{method},#{time},#{url},#{keyword},#{respond})
    </select>

    <select id="updateLsmock" parameterType="com.example.lsmock.dao.Lsmock">
        UPDATE zmock SET method=#{method},time=#{time},url=#{url},keyword=#{keyword},respond=#{respond} WHERE id=#{id}
    </select>

    <select id="deleteLsmock" parameterType="java.lang.Integer">
        DELETE FROM zmock WHERE id=#{id}
    </select>

    <select id="findLsmock" parameterType="com.example.lsmock.dao.Lsmock" resultType="com.example.lsmock.dao.Lsmock">
        select * from zmock WHERE  id=#{id}
    </select>

</mapper>